    *{
        margin: 0;
        padding: 0;
    }
    body {
        font-family: sans-serif
    }
    .top {
        background-color: #fafafa;
    }
    .top-header {
        padding: 32px;
    }
    .nav-list {
        display: flex;
        list-style-type: none;
    }
    .nav-list li {
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .content {
        margin-top: 32px;
    }
